body {
    background-color: rgb(53, 53, 53);
    margin: 0;
    padding: 0;
    height: 100vh;
}

html, body {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between; /* Changed back to space-between */
    align-items: center;
    background-color: #333;
    padding: 10px 10px; /* Adjusted padding */
    color: white;
    font-size: 1.2em;
    position: fixed;
    top: 0;
}

#nav-buttons button, #auth-buttons button {
    background-color: #555;
    color: white;
    border: none;
    padding: 10px 10px; /* Adjusted padding */
    margin: 0 1px; /* Adjusted margin */
    border-radius: 5px;
}

#nav-buttons button:hover, #auth-buttons button:hover {
    background-color: #777;
}

#sidebar {
    width: 150px;
    border: 5px solid rgb(62, 61, 61);
    padding: 10px;
    margin: 15px 0 15px 30px;
    height: calc(80vh - 30px);
    border-radius: 15px;
    position: fixed;
    top: 70px;
    left: 0; /* Added to fix the position to the left */
}

.main {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    padding-top: 50px;
}
